@font-face {
  font-family: Oswald;
  src: url('../fonts/Oswald/Oswald.ttf');
  font-display: swap;
}

.font-oswald {
  font-family: Oswald, Arial, Helvetica, sans-serif;
}

.max-w-f-324 {
  max-width: 324px;
}

@responsive {
  .flex-same-width {
    flex-basis: 0;
    flex-grow: 1;
  }

  .flex-basis-12 {
    flex-basis: 12rem;
  }
}
